
/* Don't let the content expand beyond the container. */
.scald-gallery-grid .grid-item > * {
  max-width: 100%;
  height: auto;
}

/* CSS column percentages. */
.scald-gallery-grid.scald-render-format-grid-css .grid-item {
  float: left;
}
.scald-gallery-grid.scald-render-format-grid-css .grid-item.grid-cols-2 {
  width: 50%;
}
.scald-gallery-grid.scald-render-format-grid-css .grid-item.grid-cols-3 {
  width: 33.33%;
}
.scald-gallery-grid.scald-render-format-grid-css .grid-item.grid-cols-4 {
  width: 25%;
}
.scald-gallery-grid.scald-render-format-grid-css .grid-item.grid-cols-5 {
  width: 20%;
}
.scald-gallery-grid.scald-render-format-grid-css .grid-item.grid-cols-6 {
  width: 16.66%;
}

/* Apply a clearfix to floating tiles with different heights.
   Based on: https://stackoverflow.com/a/25682250/955858 */
.scald-gallery-grid.scald-render-format-grid-css .grid-item.grid-cols-2:nth-child(2n+1),
.scald-gallery-grid.scald-render-format-grid-css .grid-item.grid-cols-3:nth-child(3n+1),
.scald-gallery-grid.scald-render-format-grid-css .grid-item.grid-cols-4:nth-child(4n+1),
.scald-gallery-grid.scald-render-format-grid-css .grid-item.grid-cols-5:nth-child(5n+1),
.scald-gallery-grid.scald-render-format-grid-css .grid-item.grid-cols-6:nth-child(6n+1) {
  clear: both;
}
